{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

<section class="auth">
	<div class="login_block1">
		<div class="block1">
				<h2>{% trans "Quase lá!" %}</h2>
				<h3>{% trans "Coloque seu nome de usuário e seu email para concluir o cadastro!" %}</h3>
				<a href="{% url 'UniversityConnect:homepage' %}">{% trans "Voltar ao início" %}</a>
		</div>
	</div>
	<div class="login_block2">
		<div>
		<div class="block2">
			<form class="login" method="POST" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
				{{ form.as_p}}
        {% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="button" type="submit">{% trans "Sign Up" %} &raquo;</button>				
			</form>
			<br>
		</div>
		
		</div>
	</div>
</section>
{% endblock %}
