*{
    margin: 0;
    padding: 0;
}
:root{
    --colorPrimary: #EF4B4B;
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorMidGray: #F1F1F0;
    --colorBox: #353539;
    --colorBoxHover: #2c2c30;

    --fontPrimary: Arial;
    --fontMidSize: 20px;
    --fontLargeSize: 28px;
    --fontExtraLarge: 54px;
    --fontExtraExtraLarge: 65px;
}


@keyframes slideIn {
    from {
        right: -300px;
    }
    to {
        right: 0; 
    }
}
@media only screen and (max-width: 714px) {
    .sidebar-block{
        text-decoration: none !important;
        text-align: center !important;
        display: block !important;
        margin: 20px !important;
        padding: 12px 30px !important;
        background-color: var(--colorWhite) !important;
        color: var(--colorBlack) !important;
    }
    .sidebar-block:hover{
        background-color: var(--colorPrimary);
        color: var(--colorWhite);
    }

    .main-header{
        padding: 20px 70px !important;
    }
    .home-linkstyle{
        display: none !important;
    }
    #home-linkstyle-menu{
        display: block !important;
        border: 1px solid var(--colorBlack)!important;
    }
    #home-linkstyle-menu:hover{
        border: 1px solid var(--colorMidGray)!important;
    }
    .home1-background{
        min-height: 580px !important;
        max-height: 1000px !important;
    }

    .home-title{
        font-size:  200% !important;
    
    }
    .home-subtitle{
        font-size:  110% !important;
    }
    #home-searchbar{
        display: block !important;
        height: 42px !important;
        min-width: 320px !important;
        max-width: 500px !important;
        
    }
    .block{
        height: 90px !important;
        width: 90px !important;
    }  
    .block-icon{
        height: 61px !important;
        width: 61px !important;
    } 
    .block-text{
        font-size: 80% !important;
    }
    .home-contentblock{
        padding: 20px 10px !important;
        min-width: 230px !important;
        max-width: 650px !important;
        margin: auto;
        
    }
    #arrow{
        top: 190px !important;
    }
    .home2{
        padding: 40px 20px 0px 20px !important;
    }
    .home-options{
        display: block !important;
        min-width: 230px !important;
        max-width: 620px !important;
        margin: auto !important;
    }
    .options-block:hover{
        border: 1px solid rgba(0, 0, 0, 0.605) !important;
    }
    .options-block{
        margin: 0px auto 10px auto !important;
        min-width: 230px !important;
        max-width: 400px !important;
        min-height: 50px !important;
        max-height: 100px !important;
        background-color: var(--colorWhite) !important;
        padding: 25px !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }
    .options-block > h2, .options-block > p{
        margin-right: 30px !important;

    }
    .options-block > h2{
        color: var(--colorPrimary);
        font-size: var(--fontMidSize) !important;
    }   
    .options-block > p{
        font-size: 90% !important;
    }


} 
@media only screen and (min-width: 684px) and (max-width: 1260px){
    .home-options{
        display: block !important;
        margin: auto !important;
    }

}
@media only screen and (max-width: 832px){
    .home2 > h2{
        text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.407) !important;
   
    }
    .home2 > h2{
        font-size: var(--fontLargeSize) !important;
    
    }
}
@media only screen and (max-width: 400px){
    
    .main-header{
        padding: 18px 55px !important;
    }
    #home-linkstyle-menu{
        display: block !important;
        border: 1px solid var(--colorBlack)!important;
        padding: 3px 15px !important;
    }
    .main-header-logo{
        bottom: 4px !important;
        width: 100px !important;
        height: 35px !important;
    }
    .main-header-logo img{
        width: 100% !important;
        height: 160% !important;
    }
    .home-title{
        font-size:  160% !important;
        min-width: 230px !important;
        max-width: 400px !important;
        margin: auto !important;
    }
    .home-subtitle{
        font-size:  90% !important;
    }
    #home-searchbar{
        height: 32px !important;
        min-width: 230px !important;
        max-width: 500px !important;
        
    }
    .block{
        height: 65px !important;
        width: 65px !important;
    }  
    .block-icon{
        height: 44px !important;
        width: 44px !important;
    } 
    .block-text{
        font-size: 70% !important;
    }
    .home-contentblock{
        padding: 20px 10px !important;
        min-width: 230px !important;
        max-width: 650px !important;
        margin: auto !important;
        
    }
    #arrow{
        top: 190px !important;
    }
    .home2{
        padding: 40px 20px 0px 20px !important;
    }
    .home-options{
        display: block !important;
        min-width: 160px!important;
        max-width: 400px !important;
        margin: auto !important;
    }
    .options-block{
        display: block;
        margin: 0 auto 10px auto !important;
        min-width: 160px !important;
        max-width: 400px !important;
        min-height: 40px !important;
        max-height: 50px !important;
        background-color: var(--colorWhite) !important;
        padding: 20px !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }
    .options-block > h2, .options-block > p{
        margin: 0 !important;
    }
    .options-block > h2{
        color: var(--colorPrimary);
        font-size: 100% !important;
    }   
    .options-block > p{
        font-size: 70% !important;
    }
    
    .details-icon{
        position: relative !important;
        bottom: 60px !important;
        float: right;
        width: 20px !important;
        height: 20px !important
    }
    .home2{
        padding: 20px 0px 0px 0px !important;
    }
    .home2 > h2{
        text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.407);
        font-size: 150% !important;
        padding-top: 30px !important;
    }
}
html{
    background-color: var(--colorMidGray);
}

.home{
    background-color: var(--colorWhite);
    font-family: var(--fontPrimary);
    display: flex;
    justify-content: space-around;
    min-width: 230px;
    max-width: 1200px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;

    padding: 30px;
    margin: 10px auto;
}
.home-title{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
    background-color: var(--colorWhite);
    min-width: 230px;
    max-width: 1200px;
    margin: 10px auto;
    padding: 30px;
}
.home-title > h2{
    font-family: var(--fontPrimary) !important;
    color: var(--colorPrimary);
}

.option-block-link{
    all: unset;
    cursor: pointer;
}
.options-block{
    min-height: 110px;
    max-height: 150px;
    min-width: 230px;
    max-width: 100%;
    background-color: var(--colorWhite);
    margin: 0px auto 10px auto;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.4s;
}

.options-block:hover{
    box-shadow: 0px 0px 15px rgba(187, 187, 187, 0.172) !important;
    border: 1px solid rgba(0, 0, 0, 0.605);
}
.options-block > h2, .options-block > p{
    margin: 7px 0;
    font-family: var(--fontPrimary);
    text-decoration: none !important;
}

.options-block > h2{
    color: var(--colorPrimary);
    font-size: large !important;
}   
.options-block > p{
    padding-right: 14px;
    font-size: medium !important;
}
.details-icon{
    position: relative;
    bottom: 50px;
    float: right;
    width: 20px;
    height: 20px;
}
.details-icon img {
    width: 100%;
    height: 100%;
}

.block1{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
    width: 800px;
    padding: 10px;
}
.block1-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.block1-img img{
    width: 100%;
    height: 100%;
}
.no-img{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1-content{
    padding: 10px;
}
.content-title{
    margin-bottom: 10px;
}
.block2{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
    background-color: var(--colorBox);
    width: 360px;
    padding: 10px;
}
.block2-content{
    padding: 10px;
}
.block2-content > p{
    display: inline-block;
    align-items: center;
    min-width: none;
    max-width: 140px;
    border-radius: 4px;
    margin: 2px;
    padding: 10px;

    text-align: center;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
}
.block2-content > p:hover{
    background-color: var(--colorMidGray);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.172) !important;
}
.content-course{
    display: block;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    font-weight: bold;
    text-decoration: none;
}
.content-course:hover{
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
}   
.content-description{
    text-align: justify;
}
@media only screen and (max-width: 714px) {
    .home{
        display: block !important;
        min-width: 230px !important;
        max-width: 540px !important;
        border: 0px;
        
    }
    .block1{
        font-size: medium;
        display: block !important;
        width: 100% !important;
        padding: 0px !important;
    }
    .block1-img{
        padding: 0px !important;
    }
    .no-img{
        height: 220px !important;
    }
    .content-description{
        padding: 10px 0;
    }
    .block2{
        font-size: medium;
        display: block !important;
        width: 100% !important;
        padding: 0px !important;
    }
}

.other{
    margin-top: 10px;
    padding: 0px 7px 4px 7px;
}
.other > h2{
    text-align: center;
    color: var(--colorWhite);
}
.other > p{
    font-size: large;
    margin-bottom: 10px;
    text-align: center;
    color: var(--colorWhite);
}
.options-block-link{
    margin: 0px 20px;
}
