*{
    margin: 0;
    padding: 0;
}
:root{
    --colorPrimary: #EF4B4B;
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorMidGray: #F1F1F0;
    --colorBox: #353539;
    --colorBoxHover: #2c2c30;

    --fontPrimary: Arial;
    --fontMidSize: 20px;
    --fontLargeSize: 28px;
    --fontExtraLarge: 54px;
    --fontExtraExtraLarge: 65px;
}


@keyframes slideIn {
    from {
        right: -300px;
    }
    to {
        right: 0; 
    }
}
@media only screen and (max-width: 684px) {
    .main-header{
        padding: 20px 70px !important;
    }
    .home-linkstyle{
        display: none !important;
    }
    .home-linkstyle-menu{
        display: block !important;
        border: 1px solid var(--colorBlack)!important;
    }
    .home-linkstyle-menu:hover{
        border: 1px solid var(--colorMidGray)!important;
    }
    .home1-background{
        min-height: 580px !important;
        max-height: 1000px !important;
    }

    .home-title{
        font-size:  200% !important;
    
    }
    .home-subtitle{
        font-size:  110% !important;
    }
    #home-searchbar{
        display: block !important;
        height: 42px !important;
        min-width: 320px !important;
        max-width: 500px !important;
        
    }
    .block{
        height: 90px !important;
        width: 90px !important;
    }  
    .block-icon{
        height: 61px !important;
        width: 61px !important;
    } 
    .block-text{
        font-size: 80% !important;
    }
    .home-contentblock{
        padding: 20px 10px !important;
        min-width: 230px !important;
        max-width: 650px !important;
        margin: auto;
        
    }
    #arrow{
        top: 190px !important;
    }
    .home2{
        padding: 40px 20px 0px 20px !important;
    }
    .home-options{
        display: block !important;
        min-width: 230px !important;
        max-width: 620px !important;
        margin: auto !important;
    }
    .options-block{
        margin: 0px auto 10px auto !important;
        min-width: 230px !important;
        max-width: 400px !important;
        min-height: 50px !important;
        max-height: 100px !important;
        background-color: var(--colorWhite) !important;
        padding: 25px !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }
    .options-block > h2, .options-block > p{
        margin-right: 30px !important;

    }
    .options-block > h2{
        color: var(--colorPrimary);
        font-size: var(--fontMidSize) !important;
    }   
    .options-block > p{
        font-size: 90% !important;
    }


} 
@media only screen and (min-width: 684px) and (max-width: 1260px){
    .home-options{
        display: block !important;
        margin: auto !important;
    }
    .options-block{
        margin: 0 auto 30px !important;
        min-width: 320px !important;
        max-width: 100% !important;
       
        background-color: var(--colorWhite) !important;
        padding: 25px !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }
}
@media only screen and (max-width: 832px){
    .home2 > h2{
        font-size: var(--fontLargeSize) !important;
    
    }
}
@media only screen and (max-width: 400px){
    
    .main-header{
        padding: 18px 55px !important;
    }
    .home-linkstyle-menu{
        display: block !important;
        border: 1px solid var(--colorBlack)!important;
        padding: 3px 15px !important;
    }

    .home-title{
        font-size:  160% !important;
        min-width: 230px !important;
        max-width: 400px !important;
        margin: auto !important;
    }
    .home-subtitle{
        font-size:  90% !important;
    }
    #home-searchbar{
        height: 32px !important;
        min-width: 230px !important;
        max-width: 500px !important;
        
    }
    .block{
        height: 65px !important;
        width: 65px !important;
    }  
    .block-icon{
        height: 44px !important;
        width: 44px !important;
    } 
    .block-text{
        font-size: 70% !important;
    }
    .home-contentblock{
        padding: 20px 10px !important;
        min-width: 230px !important;
        max-width: 650px !important;
        margin: auto !important;
        
    }
    #arrow{
        top: 190px !important;
    }
    .home2{
        padding: 40px 20px 0px 20px !important;
    }
    .home-options{
        display: block !important;
        min-width: 160px!important;
        max-width: 400px !important;
        margin: auto !important;
    }
    .options-block{
        display: block;
        margin: 0 auto 10px auto !important;
        min-width: 160px !important;
        max-width: 400px !important;
        min-height: 40px !important;
        max-height: 50px !important;
        background-color: var(--colorWhite) !important;
        padding: 20px !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }
    .options-block > h2, .options-block > p{
        margin: 0 !important;
    }
    .options-block > h2{
        color: var(--colorPrimary);
        font-size: 100% !important;
    }   
    .options-block > p{
        font-size: 70% !important;
    }
    
    .details-icon{
        position: relative !important;
        bottom: 60px !important;
        float: right;
        width: 20px !important;
        height: 20px !important
    }
    .home2{
        padding: 20px 0px 0px 0px !important;
    }
    .home2 > h2{
        text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.407);
        font-size: 150% !important;
        padding-top: 30px !important;
    }
}

#arrow{
    font-family: var(--fontPrimary);
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.407);
    border-radius: 50%;
    color: #F1F1F0;
    position: relative;
    top: 100px;
    margin: auto;

    width: 40px;
    height: 40px;
    
}
#arrow img{
    width: 100%;
    height: 100%;
}
#sidebar{
    display: none;
    font-family: var(--fontPrimary);
    background-color: var(--colorBox);
    position: fixed;
    top: 0;
    right: -300px; 
    width: 250px;
    height: 100%;
    z-index: 999;
    transition: left 0.3s ease-in-out;
}
.sidebar-show {
    right: 0 ;
    animation: slideIn 0.3s forwards;
    /* Mostrar o sidebar quando a classe 'sidebar-show' for adicionada */
}
#sidebar-off{
    display: none;
    position: fixed;
    background-color: #00000055;
    width: 100%;
    height: 100%;

}

.sidebar-h1, .sidebar-p{
    text-align: center;
    color: var(--colorWhite);
}
.sidebar-h1{
    padding: 30px 20px 6px;
}
.sidebar-p{
    padding-left: 25px;
    text-align: left;
}
.sidebar-block{
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px;
    padding: 12px 30px;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
}
.sidebar-block:hover{
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 22px 70px;
    background-color: var(--colorMidGray);
    
}

.main-header-logo, .home-linkstyle, .home-linkstyle-menu{
    color: var(--colorBlack);
    text-decoration: none;
    font-family: var(--fontPrimary);
    font-size: var(--fontMidSize);
    padding: 6px 23px;
}
.main-header-logo{
    padding: 2px 0 6px 0;
}
.home-linkstyle-menu{
    display: none;
}
.home-linkstyle:hover{
    color: var(--colorWhite);
    background-color: var(--colorPrimary);
}
.home-linkstyle-menu:hover{
    color: var(--colorWhite);
    background-color: var(--colorPrimary);
}
.home1-background{
    background-image: url(../images/home1-background4.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 13vh;
    min-height: 590px;
    max-height: 1000px;
}
.home{
    min-height: 230px;
    max-height: 500px;
    min-width: 230px;
    max-width: 1000px;
    
    margin: auto;
   
}
.home-text{
    font-family: var(--fontPrimary);
    text-align: center;
    color: var(--colorWhite);
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.407);
}
.home-title{
    font-size:  var(--fontExtraExtraLarge);

}
.home-subtitle{
    font-size: var(--fontLargeSize);
}
#home-searchbar{
    border: 1px solid #FFFFFF;
    border-radius: 21px;
    display: block;
    margin: 5vh auto;
    padding: 6px 10px;
    height: 47px;
    min-width: 500px;
    
}
#home-searchbar:focus{
    outline: none;
}
.home-contentblock{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    min-width: 350px;
    max-width: 650px;
    margin: auto;
    
}
.block{
    text-decoration: none;
    display: block;
    height:150px;
    width:150px;
    background-color: var(--colorBox);
    font-family: var(--fontPrimary);
    
}
.block:hover{
    background-color: var(--colorBoxHover);
}
.block-icon{
    display: flex;
    position: relative;
    left: 16%;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    color: white;
    
}
.block-icon img{
    width: 100%;
    height: 100%;
}
.block-text{
    color: var(--colorWhite);
    text-align: center;
    font-size: var(--fontMidSize);
    font-weight: lighter;
}
.home2{
    padding: 50px;
    display: block !important;
    max-width: 100%;
    margin: auto;
    background-color: var(--colorMidGray);
}
.home2 > h2{
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.407);
    font-family: var(--fontPrimary);
    text-align: center;
    margin-bottom: 50px;
    font-size: var(--fontExtraLarge);

}


.home-options{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(510px,1fr));
    gap: 10px 78px;
    padding: 20px;
    min-height: 700px;
    max-height: 1200px;
    min-width: 230px;
    max-width: 1200px;
    margin: auto;
}
.options-block{
    min-height: 110px;
    max-height: 150px;
    min-width: 230px;
    max-width: 500px;
    background-color: var(--colorWhite);
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
}
.options-block:hover{
    border: 1px solid rgba(0, 0, 0, 0.605);
}
.options-block > h2, .options-block > p{
    margin: 7px 0;
    font-family: var(--fontPrimary);
    text-decoration: none;
}
.options-block > h2{
    color: var(--colorPrimary);
    font-size: var(--fontLargeSize);
}   
.options-block > p{
    font-size: var(--fontMidSize);
}
.details-icon{
    position: relative;
    bottom: 50px;
    float: right;
    width: 20px;
    height: 20px;
}
.details-icon img {
    width: 100%;
    height: 100%;
}