{% load static %}
{% include '../partials/head.html' %}
<link rel="stylesheet" href="{% static '/UniversityConnect/css/course_detail.css' %}">
</head>
{% include '../partials/header.html' %}
<main>
    <section class="home"> 
        <div class="block1">
            <div class="block1-img">
                {% if curso.image %}
                    <img src="{{curso.image.url}}" alt="curso img">
                {% else %} 
                    <div class="no-img"> NO IMG </div>
                {% endif %}
            </div>
            <div class="block1-content">
                <h2 class="content-description">{{ curso.titulo }}</h2>
                <p class="content-description">{{ curso.descricao }}</p>
                <p class="content-time">{{ curso.carga_horaria }}</p>
                <p class="content-description">{{ curso.categoria }}</p>
                <p class="content-description">{{ curso.formacao }}</p>
            </div>
        </div>
        <div class="block2">
            <div class="block2-content">
                <p class="content-time">{{ curso.mensalidade }}</p>
                <p class="content-time">{{ curso.tempo_curso }}</p>
                <p class="content-description">{{ curso.nivel_curso }}</p>
                <a class="content-course" href="#">Cadastrar no Curso!</a>
            </div>
        </div>
    </section>
    
</main>
