{% load static %}
{% load i18n %}
{% include '../partials/head.html' %}
<link rel="stylesheet" href="{% static '/UniversityConnect/css/styles.css' %}">
</head>
<body>
    <main>
        <section class="home1">
            {% include '../partials/header.html' %}
            <div class="home1-background">
                <div class="home">
                    <div class="home-text">
                        <h1 class="home-title">{% trans "Universidade de Cambridge" %}</h1>
                        <h1 class="home-subtitle">{% trans "Conheça a universidade de Isaac Newton" %}</h1>
                    </div>      
                    <form class="home-search" action="">
                        <input type="search" name="home-searchbar" id="home-searchbar" aria-labelledby="search">
                        <div class="home-searchbar-icon">
                            <!---<img src="{% static '/UniversityConnect/images/icons/search.png' %}" alt="search-icon">
                            -->
                        </div>
                    </form>
                    <div class="home-contentblock">
                        <a class="block" href="cursos/">
                            <div class="block-icon">
                                <img src="{% static '/UniversityConnect/images/icons/curso.png' %}" alt="Cursos-Icon">
                            </div>
                            <h2 class="block-text"> {% trans 'Cursos' %}</h2>
                        </a>
                        <a class="block" href="#">
                            <div class="block-icon">
                                <img src="{% static '/UniversityConnect/images/icons/intercambio.png' %}" alt="Cursos-Icon">
                            </div>
                            <h2 class="block-text"> {% trans 'Intercâmbio' %}</h2>
                        </a>
                        <a class="block" href="#">
                            <div class="block-icon">
                                <img src="{% static '/UniversityConnect/images/icons/historia.png' %}" alt="Cursos-Icon">
                            </div>
                            <h2 class="block-text"> {% trans 'História' %}</h2>
                        </a>
                        <a class="block" href="#">
                            <div class="block-icon">
                                <img src="{% static '/UniversityConnect/images/icons/local.png' %}" alt="Cursos-Icon">
                            </div>
                            <h2 class="block-text"> {% trans 'Local' %}</h2>
                        </a>
                    </div>
                </div>
                <div id="arrow">
                    <img src="{% static '/UniversityConnect/images/icons/arrowdown.png' %}" alt="">
                </div>
            </div>
        </section>
        <section class="home2">
            <h2>{% trans "Universidade de Cambridge" %}</h2>
            <div class="home-options">
                <a class="option-block-link" href="{% url 'UniversityConnect:cursos' %}">
                    <div class="options-block">
                        <h2>{% trans "Cursos da Universidade" %}</h2>
                        <p>{% trans "Descubra a excelência acadêmica de Cambridge." %}</p>
                        <div class="details-icon">
                            <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                        </div>
                    </div>
                </a>
                 <a class="option-block-link"  href="#">
                    <div class="options-block">
                        <h2>{% trans "Programas de Intercâmbio" %}</h2>
                        <p>{% trans "Descubra Cambridge em um intercâmbio transformador." %}</p>
                        <div class="details-icon">
                            <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                        </div>
                    </div>
                </a>
                 <a class="option-block-link"  href="#">
                    <div class="options-block">
                        <h2>{% trans "História Local" %}</h2>
                        <p>{% trans "Descubra a essência histórica de Cambridge." %}</p>
                        <div class="details-icon">
                            <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                        </div>
                    </div>
                </a>
                 <a class="option-block-link"  href="#">
                    <div class="options-block">
                        <h2>{% trans "Moradia para Universitários" %}</h2>
                        <p>{% trans "Descubra o lar acadêmico perfeito em Cambridge." %}</p>
                        <div class="details-icon">
                            <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                        </div>
                    </div>
                </a>
                 <a class="option-block-link"  href="#">
                    <div class="options-block">
                        <h2>{% trans "Principais Personalidades" %}</h2>
                        <p>{% trans "Descubra as mentes brilhantes de Cambridge." %}</p>
                        <div class="details-icon">
                            <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                        </div>
                    </div>
                </a>
                 <a class="option-block-link"  href="#">
                    <div class="options-block">
                        <h2>{% trans "História da Universidade" %}</h2>
                        <p>{% trans "Descubra a grandeza da história de Cambridge." %}</p>
                        <div class="details-icon">
                            <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
    {% include '../partials/footer.html' %}
</body>
</html>