{% load static %}
{% load i18n %}
{% include '../partials/head.html' %}
<link rel="stylesheet" href="{% static '/UniversityConnect/css/profile.css' %}">
<script src="{% static '/UniversityConnect/js/popup.js' %}"></script>
</head>
<body>
    <main>
        {% include '../partials/header.html' %}
            
        <section class='profile'>
            <a href="{% if request.path == '/' %}
            {% elif request.path != '/' %}{% url 'UniversityConnect:homepage' %}
            {% endif %}" class="button btn">{% trans "Voltar" %}</a>
            <a href="#" class="button btn2">{% trans "Editar Perfil" %}</a>
            <h1>{% trans "Perfil" %}</h1>
            <div class='profile-details'>
                <img class="profile-img" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Foto de perfil do usuário">
                <div>
                    <h3>{% trans "Bem vindo - " %}
                    {% if user.first_name and user.last_name %}{{ user.first_name|title }} {{ user.last_name|title }}
                    {% else %}{{ user.username }}
                    {% endif %}</h3>
                    <p>{{email}}</p>
                </div>       
            </div>
            <a href="#" onclick="popup()" class="button btn3">{% trans "Sair da Conta" %}</a>
            <div onclick="popup()" id="popup_back" >
                <div class="free_text">
                    <h1>{% trans "Sign Out" %}</h1>
                  
                    <p>{% trans 'Are you sure you want to sign out?' %}</p>
                  
                    <form method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button class="button" type="submit">{% trans 'Sign Out' %}</button>
                    </form>
                  </div>
            </div>
        </section>
    </main>
{% include '../partials/footer.html' %}
</body>
</html>


<div class="free_text">
    <h1>{% trans "Sign Out" %}</h1>
  
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
  
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="button" type="submit">{% trans 'Sign Out' %}</button>
    </form>
  </div>