{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% if 'en/' in request.path %}<html lang="en">
{% else %}<html lang="pt-br">
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static '/UniversityConnect/js/menu.js' %}"></script>
    <link rel="shortcut icon" href="{% static '/UniversityConnect/images/logo/favicon4.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/UniversityConnect/css/header.css' %}">
    <link rel="stylesheet" href="{% static '/UniversityConnect/css/footer.css' %}">
    <title>{{ page_name }}</title>