<div class="main-header-links">
    <nav class="main-header-links-nav">
        <a class="home-linkstyle" href="{% if request.path == '/' %}
        {% elif request.path != '/' %}{% url 'UniversityConnect:homepage' %}
        {% endif %}">Home</a>
        
        {% if '/en/' in request.path %}
            <a class="home-linkstyle" href="{% url 'set-language' 'pt-br' %}">Português</a>
        {% else %}
		    <a class="home-linkstyle" href="{% url 'set-language' 'en' %}">English</a>
        {% endif %}
        {% if user.username %}
            <a class="home-linkstyle" href="{% url 'UniversityConnect:profile' %}">Perfil</a>
            <a class="home-linkstyle" href="{% url 'account_logout' %}">Sair</a>
        {% else %}
            <a class="home-linkstyle" href="{% url 'account_signup' %}">Registrar</a>
            <a class="home-linkstyle" href="{% url 'account_login' %}">Login</a>
        {% endif %}
        <input id="home-linkstyle-menu" type="button" value="Menu" onclick="entrar()">
    </nav>
    
</div>