{% load static %}
{% load i18n %}
{% include '../partials/sidebar-options.html' %}
<header class="main-header">
    <div class="main-header-logo">
        <img src="{% static '/UniversityConnect/images/logo/full.png' %}" alt="logo">
    </div>
    <form class="home-search" action="">
        <input type="search" name="course-searchbar" id="home-searchbar" 
        {% if pesquisa %}value="{{ pesquisa }}"
        {% else %}placeholder="{% trans "Tecnologia" %}"
        {% endif %}>
    </form>
    {% include '../partials/headerlink.html' %}
</header>