        {% if user.username %}
            <a class="home-linkstyle sidebar-block" href="accounts/profile/"> Perfil</a>
        {% else %} 
            <a class="home-linkstyle sidebar-block" href="{% url 'account_signup' %}">Registrar</a>
        {% endif %}

        {% if user.username %}
            <a class="home-linkstyle sidebar-block" href="accounts/logout/">Sair </a>
        {% else %}
            <a class="home-linkstyle sidebar-block" href="{% url 'account_login' %}">Login</a>
        {% endif %}