{% load i18n %}
<div id="sidebar-off" onclick="sair()"></div>
<div id="sidebar">
    <h1 class="sidebar-h1">UnivesityConnect</h1>
    <p class="sidebar-p">
        {% if user.username %}{% trans "Olá" %} {{ user.username }}!
        {% else %}{% trans "Conecte-se com a gente!" %}
        {% endif %}
    </p>
    {% if user.username %}
        <a class="sidebar-block" href="{% url 'UniversityConnect:profile' %}"> {% trans "Perfil" %}</a>
        <a class="sidebar-block" href="{% if request.path == '/' %}
        {% elif request.path != '/' %}{% url 'UniversityConnect:homepage' %}
        {% endif %}">Home</a>
            
        {% if '/en/' in request.path %}
            <a class="sidebar-block" href="{% url 'set-language' 'pt-br' %}">Português</a>
        {% else %}
		    <a class="sidebar-block" href="{% url 'set-language' 'en' %}">English</a>
        {% endif %}
        <a class="sidebar-block sidebar-block-bottom" href="{% url 'account_logout' %}">{% trans "Sair" %}</a>
    {% else %}
        <a class="sidebar-block" href="{% url 'account_login' %}">{% trans "Entrar" %}</a>
        <a class="sidebar-block" href="{% url 'account_signup' %}">{% trans "Registrar" %}</a>
        <a class="sidebar-block" href="
        {% if request.path == '/' %}#
        {% elif request.path != '/' %}{% url 'UniversityConnect:homepage' %}
        {% endif %}">Home</a>
        {% if '/en/' in request.path %}
            <a class="sidebar-block" href="{% url 'set-language' 'pt-br' %}">Português</a>
        {% else %}
		    <a class="sidebar-block" href="{% url 'set-language' 'en' %}">English</a>
        {% endif %}
    {% endif %}
</div>
    
    
    