    {% if user.username %}
    <a class="home-linkstyle" href="accounts/profile/"> Perfil</a>
    {% else %} 
    <a class="home-linkstyle" href="{% url 'account_signup' %}">Registrar</a>
    {% endif %}

    {% if user.username %}
    <a class="home-linkstyle" href="accounts/logout/">Sair </a>
    {% else %}
    <a class="home-linkstyle" href="{% url 'account_login' %}">Login</a>
    {% endif %}
        
    <a class="sidebar-block" href="{% if request.path == '/' %}#{% elif request.path != '/' %}/{% endif %}">Home</a>
    <a class="sidebar-block" href="#">Sobre</a>