{% load static %}
{% load i18n %}
{% if courses %}
    {% for course in courses %}
        <a class="option-block-link" href="{% url 'UniversityConnect:courses_detail' course.id %}">
            <div class="options-block">
                {% if "en/" in request.path %}
                    <h2>{{ course.title_en }}</h2>
                    <p>{{ course.mini_description_en }}</p>
                {% else %}
                    <h2>{{ course.title }}</h2>
                    <p>{{ course.mini_description }}</p>
                {% endif %}
                <div class="details-icon">
                    <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                </div>
            </div>
        </a>
    {% endfor %}

{% else %}
    <a class="option-block-link" href="{% url 'UniversityConnect:homepage' %}">
        <div class="options-block">
            <h2>{% trans "Nenhum curso encontrado!" %}</h2>
            <p>{% trans "Clique aqui para voltar ao inicio" %}</p>
            <div class="details-icon">
                <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
            </div>
        </div>
    </a>
{% endif %}
<div class="pagination">
    <span class="step-links">
        <span class="current">
            {% trans "Página" %} {{ courses.number }} {% trans "de" %} {{ courses.paginator.num_pages }}.
        </span>
        <div class="pagination-button">
        {% if courses.has_previous %}
            <a href="?page=1">{% trans "Página 1" %}</a>
            <a href="?page={{ courses.previous_page_number }}">{% trans "Retornar" %}</a>
        {% endif %}
        {% if courses.has_next %}
            <a class="pagination-next" href="?page={{ courses.next_page_number }}">{% trans "Avançar" %}</a>
            <a class="pagination-back" href="?page={{ courses.paginator.num_pages }}">{% trans "Página" %} {{ courses.paginator.num_pages }}</a>
        {% endif %}
     </div>
    </span>
</div>