{% load static %}
{% load i18n %}
<footer>
<div class="footer-top">
    <div class="footer-logo">
        <img src="{% static '/UniversityConnect/images/logo/full.png' %}" alt="logo">
    </div>
<div class="footer-mid">
    <div class="footer-info">
        <div class="footer-info-lang">
            <div class="footer-info-lang-img">
                <img src="{% static '/UniversityConnect/images/icons/globe.png' %}" alt="logo">
            </div>
            <select id="lang-options-footer" class="footer-lang lang" onchange="updateLanguageURL('lang-link-footer')">
                <option value="" disabled selected hidden>{% trans "Idioma" %}</option>
                <option value="pt-br">Português</option>
                <option value="en">English</option>
            </select>
            <a href="{% url 'set-language' 'en' %}" id="lang-link-footer" style="display: none;">Link</a>

        </div>
        <div class="footer-info-content">
            <div class="footer-info-content-support">
                <h2>{% trans "Suporte" %}</h2>
                <h3>FAQ</h3>
                <h3>{% trans "Telefones" %}</h3>
                <h3>{% trans "Chat" %}</h3>
            </div>
            <div class="footer-info-content-menu">
                <h2>{% trans "Início" %}</h2>
                <h3>{% trans "Home" %}</h3>
                <h3>{% trans "Cursos" %}</h3>
                <h3>{% trans "Notícias" %}</h3>
            </div>
            <div class="footer-info-content-about">
                <h2>{% trans "Sobre nós" %}</h2>
                <h3>{% trans "Informações" %}</h3>
                <h3>{% trans "Contato" %}</h3>
                <h3>{% trans "Blog" %}</h3>
            </div>
        </div>
        <div class="footer-info-media">
            <div class="media">
                <div class="media-img">
                    <img src="{% static '/UniversityConnect/images/icons/twitter.png' %}" alt="logo">
                </div>
                <a href="https://www.instagram.com/universityconnect_/" target="_blank" class="media-img">
                    <img src="{% static '/UniversityConnect/images/icons/instagram.png' %}" alt="logo">
                </a>
                <div class="media-img">
                    <img src="{% static '/UniversityConnect/images/icons/facebook.png' %}" alt="logo">
                </div>
            </div>
            <div class="follow">
                {% trans "Siga-nos nas redes sociais!" %}
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div>
        <h2>{% trans "Termos de Uso * Política de Privacidade" %}</h2>
        <p>&copy; {% trans "2023 UniversityConnect" %}</p>
    </div>
</div>
</footer>