{% load static %}
{% load i18n %}
{% if students %}
    {% for student in students %}
        <div class="option-block-link">
            <div class="options-block-student">
                <div class="student-img ">{{student.img.url}}</div>
                <div class="options-block tag-student">
                    <h2>{{ student.name }}</h2>
                    {% if 'en/' in request.path %}
                        <p>{{ student.biography_en }}</p>
                    {% else %}
                        <p>{{ student.biography }}</p>
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <a class="option-block-link" href="{% url 'UniversityConnect:homepage' %}">
        <div class="options-block">
            <h2>{% trans "Nenhum ex-aluno de cambridge foi encontrado!" %}</h2>
            <p>{% trans "Clique aqui para voltar ao inicio" %}</p>
            <div class="details-icon">
                <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
            </div>
        </div>
    </a>
{% endif %}
<div class="pagination">
    <span class="step-links">
        <span class="current">
            {% trans "Página" %} {{ students.number }} {% trans "de" %} {{ students.paginator.num_pages }}.
        </span>
        <div class="pagination-button">
        {% if students.has_previous %}
            <a href="?page=1">{% trans "Página 1" %}</a>
            <a href="?page={{ students.previous_page_number }}">{% trans "Retornar" %}</a>
        {% endif %}
        {% if students.has_next %}
            <a class="pagination-next" href="?page={{ students.next_page_number }}">{% trans "Avançar" %}</a>
            <a class="pagination-back" href="?page={{ students.paginator.num_pages }}">{% trans "Página" %} {{ students.paginator.num_pages }}</a>
        {% endif %}
     </div>
    </span>
</div>