*{
    margin: 0;
    padding: 0;
}
:root{
    --colorPrimary: #EF4B4B;
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorMidGray: #F1F1F0;
    --colorBox: #353539;
    --colorBoxHover: #2c2c30;

    --fontPrimary: Arial;
    --fontMidSize: 20px;
    --fontLargeSize: 28px;
    --fontExtraLarge: 54px;
    --fontExtraExtraLarge: 65px;
}
@media only screen and (max-width: 928px) {
    .main-header{
        padding: 20px 70px !important;
    }
    .home-linkstyle{
        display: none !important;
    }
    #home-linkstyle-menu{
        display: block !important;
        border: 1px solid var(--colorBox)!important;
    }
    #home-linkstyle-menu:hover{
        border: 1px solid var(--colorMidGray)!important;
    }
    .home-options{
        display: block !important;
        min-width: 230px !important;
        max-width: 620px !important;
        margin: auto !important;
    }
    .options-block:hover{
        border: 1px solid rgba(0, 0, 0, 0.605) !important;
    }
    .options-block{
        margin: 0px auto 10px auto !important;
        min-width: 230px !important;
        max-width: 400px !important;
        min-height: 50px !important;
        max-height: 100px !important;
        background-color: var(--colorWhite) !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }
    .options-block > h2, .options-block > p{
        margin-right: 30px !important;

    }
    .options-block > h2{
        color: var(--colorPrimary);
        font-size: var(--fontMidSize) !important;
    }   
    .options-block > p{
        font-size: 90% !important;
    }

    .tag-student{
        max-width: 73% !important;
    }

} 

@media (min-width: 1260px){
    .home-search{
        width: 420px !important;
    }
   
}

@media only screen and (min-width: 684px) and (max-width: 1260px){
    .home-options{
        display: block !important;
        margin: auto !important;
    }
    .options-block{
        min-width: 320px !important;
        max-width: 100% !important;
       
        background-color: var(--colorWhite) !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }
    .tag-student{
        max-width: 70% !important;
    }
    
}
@media (max-width: 750px){
    .tag-student{
        max-width: 65% !important;
    }
}
@media only screen and (max-width: 600px){
    .options-block{
        font-size: smaller !important;
    }
    .home-title > h2{
        font-size: 120% !important;
    }
    .tag-student{
        max-width: 100% !important;
    }
    .student-img{
        margin: 10px auto 0 auto !important; 
    }
    .options-block-student{
        display: block !important;
        margin: auto;
        position: relative;
        min-height: 110px;
        max-height: 100%;
        width: 100%;
        background-color: var(--colorWhite);    
        overflow: hidden;
    }

}
@media only screen and (max-width: 400px){
    .home-search {
        min-width: initial !important;
        max-width: initial !important;
    }
    .home-title > h2{
        font-size: 80% !important;
    }
    .home-options{
        display: block !important;
        min-width: 160px!important;
        max-width: 400px !important;
        margin: auto !important;
    }
    .options-block{
        font-size: smaller !important;
        display: block !important;
        margin: 0 auto 10px auto !important;
        min-width: 160px !important;
        max-width: 400px !important;
        min-height: 40px !important;
        max-height: 60px !important;
        background-color: var(--colorWhite) !important;
        border: 1px solid rgba(0, 0, 0, 0) !important;
    }
    .options-block > h2, .options-block > p{
        margin-right: 15px !important;

    }
    .options-block > h2{
        color: var(--colorPrimary);
        font-size: 100% !important;
    }   
    .options-block > p{
        font-size: 70% !important;
    }
    
    .details-icon{
        bottom: 14px !important;
        width: 20px !important;
        height: 20px !important
    }
    
}
html{
    background-color: var(--colorMidGray);
}
.home-search{
    display: flex;
    justify-content: flex-end;
    min-width: 100px !important;
    max-width: 700px !important;
    margin: 0 5px 0 5px;
}
#home-searchbar{
    border: 0px;
    border-radius: 13px;
    padding: 6px 10px;
    height: 37px;
    width: 100%;
    background-color: var(--colorMidGray);
}
#home-searchbar:focus{
    outline: none;
}
#home-searchbar::-webkit-input-placeholder{
    font-size: 16px;
    color: var(--colorBlack);
    opacity: 80%;
}

.home2{
    display: block !important;
    max-width: 90%;
    margin: auto;
    background-color: var(--colorMidGray);
}

.home-title{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
    background-color: var(--colorWhite);
 
    margin: 10px auto;
    padding: 25px;
}
.home-title > h2{
    font-family: var(--fontPrimary);
    margin-bottom: 10px;
}
.home-title select, button{
    font-family: var(--fontPrimary);
    font-weight: 500;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
}
.home-options{
    padding: 0 20px;
    display: block;
    margin: auto;
}
.option-block-link{
    display: block;
    background-color: var(--colorWhite);
    margin: 10px auto 10px auto !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
    all: unset;
    cursor: pointer;
    
}

.options-block{
    margin: 15px auto !important;
    position: relative;
    padding: 25px !important;
    min-height: 110px;
    max-height: 300px !important;
    min-width: 230px;
    max-width: 100%;
    background-color: var(--colorWhite);    
    border: 1px solid rgba(0, 0, 0, 0);
    overflow: hidden;
}
.tag-student{
    margin: 0px auto !important;
    max-width: 78%;
    text-align: left !important;
}
.tag-student:hover{
    cursor: default;
    border: 1px solid transparent !important;
    max-width: 78%;
}

.tag-new{
    line-height: 1.5;
    text-align: justify;
}
.tag-new:hover{
    border: 1px solid transparent !important;
    max-height: none !important;
}

.options-block-student{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    min-height: 110px;
    max-height: 100%;
    width: 100%;
    background-color: var(--colorWhite);    
    overflow: hidden;

}
.middle{
    width: 100% !important; 
}
.student-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-color: #353539;
    margin-left: 5%;
}
.student-img img{
    height: 100%;
}
.student-img > iframe{
    height: 100%;
    width: 100%;
}
.tag-place{
    width: 200px;
    height: 150px;
}

.options-block:hover{
    border: 1px solid rgba(0, 0, 0, 0.605);
}
.options-block > h2, .options-block > p .subtext{
    overflow: hidden !important;
    margin: 7px 0;
    font-family: var(--fontPrimary);
    text-decoration: none !important;
}

.options-block > h2, .home-title > h2{
    color: var(--colorPrimary);
    font-size: var(--fontLargeSize);
}   
.options-block > p, .tag-new p{
    font-family: var(--fontPrimary);
    padding-right: 14px ;  
    font-size: var(--fontMidSize) ;
}
.options-block > ul{
    padding: 10px 0;
}
.options-block > ul > li, .options-block > ul > p{
    font-family: var(--fontPrimary);
    font-size: var(--fontMidSize) ;
}
.tag-student > h2{
    width: 100%;
    text-align: left !important;
}
.tag-student > p{
    width: 100%;
    text-align: left !important;
    font-family: var(--fontPrimary);
    padding-right: 0 !important ;  
    font-size: var(--fontMidSize) ;
}
.details-icon{
    position: absolute;
    right: 14px;
    width: 20px;
    height: 20px;
}
.details-icon img {
    width: 100%;
    height: 100%;
}


@media (min-width: 1000px){
    .new-main-img{
        height: 550px !important;
    }
    .new-main-img img{
        width: 80% !important;
    }
}
.new-main-img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.new-main-img img{
    width: 100%;
}

.pagination{
    text-align: center;
    width: 100%;
    margin: 10px auto;
    font-family: var(--fontPrimary);
    background-color: var(--colorWhite);
    padding: 10px 0;
    
}
.pagination-button > a{
    text-decoration: none;
    color: black;
}
.pagination-button > a:hover{
    text-decoration: underline;
}

.tag-new{
    max-height: none !important
}
.tag-new h3{
    padding: 10px 0px;
    font-family: var(--fontPrimary);
}
