
@media only screen and (max-width: 714px) {
    .footer-info{
        display: block !important;
        margin: auto !important;
        width: 230px !important;
    }
    .footer-info-lang{
        margin: auto !important;
    }
    .footer-info-content{
        display: block !important;
        margin: auto !important;
        width: 230px !important;
    }
    .footer-info-content div{
        display: block !important;
        margin: auto !important;
    }
    .footer-info-media{
        width: 200px !important;
        margin: auto !important;
        display: block !important;
    }
}
@media only screen and (max-width: 343px) {
    .footer-logo{
        margin: auto !important;
        width: 130px !important;
        height: 90px !important;
    }
    .footer-logo img{
        position: relative;
        bottom: 0px !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden;
    }
}
footer{
    margin-top: 170px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.172) !important;
    background-color: #6161c3;
}
.footer-top{
    width: 100%;
    background-color: var(--colorWhite);
}
.footer-logo{
    margin-left: 20px;
    width: 180px;
    height: 110px;
}
.footer-logo img{
    position: relative;
    bottom: 30px;
    width: 170%;
    height: 170%;
}
.footer-mid{
    min-height: 120px;
    max-height: 600px;
    padding: 50px 20px;
    background-color: var(--colorBox);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.593) !important;
}
.footer-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.footer-info-lang{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 170px;
}
.footer-info-lang-img{
    width: 34px;
    height: 30px;
}
.footer-info-lang img{
    width: 100%;
    height: 100%;
}
.footer-lang{
    border: 0;
    padding: 7px 15px;
    font-size: medium;
    border-radius: 6px;
    color: var(--colorWhite);
    background-color: var(--colorBoxHover);
}
.footer-info-content{
    display: flex;
    width: 450px;
    padding: 0px 10px;
    justify-content: space-between;
}
.footer-info-content div{
    padding-top: 15px;
    text-align: center;
    margin: 0px 10px;
    height: 100px;
    width: 130px;
}
.footer-info-content > div > h2, .footer-info-content > div > h3{
    font-family: var(--fontPrimary);
}
.footer-info-content > div > h2{
    color: var(--colorPrimary);
    font-size: larger;
}
.footer-info-content > div > h3{
    font-weight: 600;
    font-size: medium;
    color: var(--colorWhite);
}
.footer-info-media{
    padding-top: 15px;
    text-align: center;
    height: 100px;
    width: 270px;
    padding: 8px;
}
.media{
    display: flex;
    justify-content: space-evenly;
}
.media-img{
    width: 50px;
    height: 50px;
}
.media-img:hover{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.13);
}
.media-img img{
    width: 100%;
    height: 100%;
}
.follow{
    margin-top: 10px;
    color: var(--colorWhite);
    font-family: var(--fontPrimary);
    font-size: large;
    background-color: var(--colorBoxHover);
    border-radius: 6px;
    padding: 6px 9px;
}
.footer-bottom{
    padding: 45px 0px;
}
.footer-bottom div{
    font-family: var(--fontPrimary);
    text-align: center;
}
.footer-bottom > div > h2{
    color: var(--colorBlack);
    font-size: larger;
}
.footer-bottom > div > p{
    color: var(--colorBlack);
    font-size: large;
    font-stretch: extra-condensed;
}

footer img{
    filter: invert();
}
.footer-logo img{
    filter: none !important;
}