{% extends "base_uc.html" %}
{% load static %}
{% load i18n %}

{% block extra_style %}
<link rel="stylesheet" href="{% static '/UniversityConnect/css/course_detail.css' %}">
{% endblock extra_style %}

{% block content_base %}

{% include '../partials/header.html' %}
<main>
    <div class="home-title">
        <h2>{% trans "Curso de" %} 
            {% if lang %}{{ course.tittle_en }}
            {% else %}{{ course.tittle }}
            {% endif %}</h2>
    </div>
    <section class="home"> 
        <div class="block1">
            <div class="block1-img">
                {% if course.image %}
                    <img src="{{curso.image.url}}" alt="curso img">
                {% else %} 
                    <div class="no-img"> NO IMG </div>
                {% endif %}
            </div>
            <div class="block1-content">
                {% if lang %}
                <h2 class="content-title">{{ course.tittle_en }}</h2>
                <p class="content-description">{{ course.description_en }}</p>
                {% else %}
                <h2 class="content-title">{{ course.tittle }}</h2>
                <p class="content-description">{{ course.description }}</p>
                {% endif %}
                
            </div>
        </div>
        <div class="block2">
            <div class="block2-content">
                {% if lang %}
                <p class="content-description">{{ course.categoria.name_en }}</p>
                <p class="content-description">{{ course.formacao.name_en }}</p>
                <p class="content-level">{{ course.nivel_curso.name_en }}</p>
                <p class="content-time">{{ course.time_course_en }}</p>
                <p class="content-hours">{{ course.carga_horaria }} hours</p>
                <p class="content-pay">US${{ monthly_course_fee }}</p>                 
                {% else %}
                <p class="content-description">{{ course.categoria }}</p>
                <p class="content-description">{{ course.formacao }}</p>
                <p class="content-level">{{ course.nivel_curso }}</p>
                <p class="content-time">{{ course.tempo_curso }}</p>
                <p class="content-hours">{{ course.carga_horaria }} horas</p>
                <p class="content-pay">R${{ course.mensalidade }}</p>
                {% endif %}
               
                <a class="content-course" href="#">{% trans "Cadastrar no Curso!" %}</a>
            </div>
            <div class="other">
                <h2>{% trans "Outros Cursos" %}</h2>
                <p>{% trans "Relacionados com" %} 
                    {% if lang %}{{ course.categoria.name_en }}
                    {% else %}{{ course.categoria }}
                    {% endif %}
                    
                </p>
                {% if outro %}
                    {% for outro in outro %}
                        <a class="option-block-link" href="{% url 'UniversityConnect:courses_detail' outro.id %}">
                            <div class="options-block">
                                {% if lang %}
                                <h2>{{ outro.tittle_en }}</h2>
                                <p>{{ outro.mini_description_en }}</p>
                                {% else %}
                                <h2>{{ outro.titulo }}</h2>
                                <p>{{ outro.mini_descricao }}</p>
                                {% endif %}
                                <div class="details-icon">
                                    <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                <a class="option-block-link" href="">
                    <div class="options-block">
                        <h2>{% trans "Não há cursos" %}</h2>
                        <p>{% trans "Não há mais cursos cadastrados com essa categoria." %}</p>
                        <div class="details-icon">
                            <img src="{% static "/UniversityConnect/images/icons/enter.png" %}" alt="">
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock content_base %}
