{% extends "base_uc.html" %}
{% load static %}
{% load i18n %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'UniversityConnect/css/styles.css' %}">
{% endblock extra_style %}

{% block title %}{{page_name}}{% endblock title %}

{% block content_base %} 
    {% include 'UniversityConnect/partials/header.html' %}
    <section class="teammates">
        <div class="teams">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'UniversityConnect/images/team/matheus.svg' %}" alt="matheus">
                </div>
                <div class="team-text">
                    <h1>Matheus Ricardo</h1>
                    <h2>{% trans "Designer, CEO e Programador" %}</h2>
                </div>
            </div>
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'UniversityConnect/images/team/alessandra.svg' %}" alt="alessandra">
                </div>
                <div class="team-text">
                    <h1>Alessandra Marques</h1>
                    <h2>{% trans "Designer e Pesquisadora" %}</h2>
                </div>
            </div>
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'UniversityConnect/images/team/kemilly.svg' %}" alt="kemilly">
                </div>
                <div class="team-text">
                    <h1>Kemilly Araújo</h1>
                    <h2>{% trans "Pesquisadora" %}</h2>
                </div>
            </div>
        </div>
        
        <div class="teams teams-2">
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'UniversityConnect/images/team/widilla.svg' %}" alt="widilla">
                </div>
                <div class="team-text">
                    <h1>Widilla da Silva</h1>
                    <h2>{% trans "Pesquisadora e Designer" %}</h2>
                </div>
            </div>
            <div class="team">
                <div class="team-img">
                    <img src="{% static 'UniversityConnect/images/team/carlos.svg' %}" alt="carlos">
                </div>
                <div class="team-text">
                    <h1>Carlos Levy</h1>
                    <h2>{% trans "Pesquisador" %}</h2>
                </div>
            </div>
           
        </div>
    </section>
{% endblock %}
