<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
</head>
<body>
    <form action="{% url 'UniversityConnect:entrar' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="username" name="username" id="username">
        <input type="password" placeholder="password" name="password" id="password">
        <input type="submit" value="entrar">
    </form>

    <div>
        {% if auth %}
        {{auth}}
        {% endif %}
    </div>
</body>
</html>